.adress{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.adress h1{
    margin-bottom: 16px;
}
.adress__container{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 24px auto 44px auto;
}

.adress__add{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: dashed;
    height: 266px;
    width: 320px;
    border-width: 2px;
    box-sizing: border-box;
    border-color: #C7C7C7;

}

.adress__add__text{
    font-size: 24px;
    color: #565959;
}