.confirmation{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.confirmation__content{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    height: 500px;
}

.confirmation__content a {
    margin-top:10px;
    color: rgb(0, 102, 192);
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.confirmation__content a:hover {
    text-decoration: underline;
    color: #B12704;
 }
 

.confirmation__footer{
    width: 100%;
    margin-top:26px;
    font-size:11px;
    text-align: center;
    
}
.confirmation__logo{
    margin-top:15px;
    margin-bottom:10px;
    object-fit: contain;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}
.confirmation__footer__container{
  
    height: 44px;
    margin-bottom: -18px;
    background: -webkit-linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);
    background: linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);
    z-index: 0;
    zoom: 1;
    text-align: center;
}
.confirmation__footer__container:after{
    display: block;
    width: 100%;
    height: 44px;
    background-color: transparent;
    background: -webkit-linear-gradient(to right,#fff,rgba(255,255,255,0),#fff);
    background: linear-gradient(to right,#fff,rgba(255,255,255,0),#fff);
    z-index: 1;
    content: "";
}
.confirmation__footer__link{
    margin-bottom:10px;
}
.confirmation__footer__link a {
    color: rgb(0, 102, 192);
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.confirmation__footer__link a:hover {
    text-decoration: underline;
    color: #B12704;
 }
 

.confirmation__footer__copyright{
    color:#555;
}
